{{/* Display author list. */}}

{{- $taxonomy := "authors" }}
{{ if .Param $taxonomy }}
  {{ range $index, $value := (.GetTerms $taxonomy) }}
    {{- /* Highlight the author's name? */ -}}
    {{- $highlight_name := .Page.Params.highlight_name | default false -}}

    {{- if gt $index 0 }}, {{ end -}}
    {{- $star_admin_here := $.Params.star_admin_here | default false -}}
    {{- $name := .LinkTitle -}}
    <span {{ if $highlight_name }}class="author-highlighted"{{end}}>
      {{/* Check if this is the admin/Yuxiao Li author and if we should star/bold here */}}
      {{- if and $star_admin_here (eq $name "Yuxiao Li") -}}
        {{- if .RelPermalink -}}
          <a href="{{.RelPermalink}}"><strong>{{ $name }}*</strong></a>
        {{- else -}}
          <strong>{{ $name }}*</strong>
        {{- end -}}
      {{- else -}}
        {{/* Default rendering for all other authors */}}
        {{- if .RelPermalink -}}
          <a href="{{.RelPermalink}}">{{ $name }}</a>
        {{- else -}}
          {{ $name }}
        {{- end -}}
      {{- end -}}
    </span>
    {{- if isset $.Params "author_notes" -}}
      {{- with (index $.Params.author_notes $index) -}}
        <i class="author-notes fas fa-info-circle" data-toggle="tooltip" title="{{.}}"></i>
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
